## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [9]:
tup = ('I', )
print (tup)
print (type(tup))

('I',)
<class 'tuple'>

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [11]:
elements = ['r', 'o', 'n', 'h', 'a', 'c', 'k']
tup = ('I', )
l = list(tup)
for i in elements:
    l.append(i)
print (l)
    # Your explanation here

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

Tuples are immutable. Thus any operation that tries to modify it (like append) won't work.
Steps to follow: convert the tuple to list by building-in function list(). Then append the item to list object. Then use another built-in function tuple() to convert the list back to tuple.

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [ ]:
list1=list(tup)
list1.append("I")
list1.append("r")
list1.append("o")
list1.append("n")
list1.append("h")
list1.append("a")
list1.append("c")
list1.append("k")
print(list1)

TypeError: ignored

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [12]:
tup = ['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
lst = []
for i in range (0,8,4):
    lst.append((tup[i:i+4]))
print(lst)

[['I', 'r', 'o', 'n'], ['h', 'a', 'c', 'k']]

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [18]:
tup1=['I', 'r', 'o', 'n']
tup2=['h', 'a', 'c', 'k']
print(tup1 + tup2)

if tup == tup1 + tup2: 
    print (True)
else: 
    print (False)

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [19]:
tup3 = tup1 + tup2

len(tup1)
len(tup2)
len(tup3)
if len(tup3) == (len(tup1)+len(tup2)):
    print (True)
else:
    print (False)

True

#### What is the index number of `"h"` in `tup3`?

In [20]:
tup3.index('h')

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [21]:
letters = ['a', 'b', 'c', 'd', 'e']
if (any('letters' in i for i in tup3)):
    print (True)
else:
    print (False)

False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [22]:
 
 def Count(letters, en): 
    return letters.count(en) 
  
letters = ['a', 'b', 'c', 'd', 'e']
enq0 = 'a'
enq1 = 'b'
enq2 = 'c'
enq3 = 'd'
enq4 = 'e'
print(Count(letters, enq0), "times") 
print(Count(letters, enq1), "times") 
print(Count(letters, enq2), "times")
print(Count(letters, enq3), "times") 
print(Count(letters, enq4), "times")

1 times
1 times
1 times
1 times
1 times