## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
# Your code here

sample_list_1 = (random.sample (range(101), k=80)

print (sample_list_1)

[65, 4, 2, 13, 26, 86, 87, 16, 55, 46, 33, 57, 63, 94, 67, 64, 69, 6, 85, 89, 15, 62, 12, 72, 36, 21, 84, 39, 97, 47, 92, 61, 71, 37, 53, 52, 66, 5, 30, 77, 34, 43, 40, 25, 32, 41, 38, 20, 48, 74, 83, 51, 18, 35, 78, 73, 24, 56, 19, 14, 45, 60, 0, 82, 80, 98, 7, 10, 8, 28, 96, 23, 9, 27, 58, 42, 99, 100, 50, 95]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here

set1 = set (sample_list_1)

print (set1)

len (set1)

# Sigue siendo la misma longitud.

{0, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 77, 78, 80, 82, 83, 84, 85, 86, 87, 89, 92, 94, 95, 96, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
# Your code here

sample_list_2 = []
for i in range(80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[4, 79, 29, 70, 94, 17, 60, 65, 83, 76, 37, 8, 34, 11, 37, 10, 68, 63, 35, 4, 87, 31, 40, 68, 76, 31, 54, 2, 6, 17, 52, 35, 56, 76, 42, 21, 81, 91, 78, 87, 59, 88, 69, 61, 49, 14, 77, 88, 9, 51, 62, 30, 33, 23, 68, 46, 15, 22, 15, 16, 16, 21, 23, 11, 56, 4, 6, 33, 7, 38, 3, 17, 13, 76, 8, 90, 97, 86, 60, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here
set2 = set(sample_list_2)

len (set2)

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here


set3 = set1 - set1.intersection(set2)    

print (set3)

{0, 5, 12, 18, 19, 20, 24, 25, 26, 27, 28, 32, 36, 39, 41, 43, 45, 47, 48, 50, 53, 55, 57, 58, 64, 66, 67, 71, 72, 73, 74, 80, 82, 84, 85, 89, 92, 95, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
# Your code here

set4 = set2 - set1.intersection(set2)   

print (set4)

{3, 68, 70, 91, 11, 76, 79, 17, 49, 81, 22, 54, 88, 90, 59, 29, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [61]:
# Your code here

set5 = set1.intersection(set2)  

print (set5)

{2, 4, 6, 7, 8, 9, 10, 13, 14, 15, 16, 21, 23, 30, 33, 34, 35, 37, 38, 40, 42, 46, 51, 52, 56, 60, 61, 62, 63, 65, 69, 77, 78, 83, 86, 87, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [69]:
# Your code here

if len (set5) + len (set3) + len (set4) == len (set1) + len (set2) - len (set5):
    print ("Testeo correcto")
else:
    print("Algo va mal")

Testeo correcto

#### Create an empty set called `set6`.

In [95]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [96]:
# Your code here

set6.update(set5, set3)

print (set6)

{0, 2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 77, 78, 80, 82, 83, 84, 85, 86, 87, 89, 92, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [97]:
# Your code here

if set1 == set6:
    print ("Son iguales")
else: 
    print ("No son iguales")

Son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [98]:
# Your code here

set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [99]:
# Your code here

if set3 | set4 | set5 == set1 | set2:
    print ("Okey makey")
else:
    print ("WTF")

Okey makey

#### Using the `pop` method, remove the first element from `set1`.

In [110]:
# Your code here

set1.pop()

set1

{2,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 69,
 71,
 72,
 73,
 74,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [119]:
# Your code here

list_to_remove = set ([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])

list_to_remove

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

In [120]:
list_definitiva = (set1 - set1.intersection(list_to_remove))  

list_definitiva

{2,
 4,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 20,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 72,
 73,
 74,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 92,
 94,
 95,
 96,
 97,
 98,
 100}