## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here

sample_list_1 = random.sample(range(101), k = 80)
print(sample_list_1)
len(sample_list_1)

[96, 14, 39, 27, 82, 29, 91, 4, 10, 100, 34, 83, 21, 80, 76, 86, 63, 32, 20, 35, 53, 70, 6, 49, 92, 22, 85, 18, 56, 25, 8, 52, 71, 84, 33, 23, 2, 60, 64, 3, 38, 54, 81, 87, 28, 74, 16, 0, 43, 47, 57, 48, 58, 12, 44, 93, 99, 75, 61, 94, 46, 11, 95, 19, 15, 59, 72, 45, 42, 17, 68, 50, 97, 77, 9, 90, 66, 65, 40, 51]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here

set1 = set(sample_list_1)
len(set1)
print(set1)
print('yes')

{0, 2, 3, 4, 6, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 32, 33, 34, 35, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
yes

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
# Your code here
sample_list_2 = []

for i in range(81):
    i = round(random.random()*100)
    sample_list_2.append(i)
print(sample_list_2)

[57, 86, 34, 53, 77, 93, 25, 35, 69, 61, 23, 62, 8, 29, 90, 94, 65, 23, 29, 22, 21, 73, 9, 3, 95, 99, 13, 100, 15, 41, 21, 41, 17, 72, 18, 85, 31, 68, 29, 2, 77, 20, 71, 35, 86, 12, 92, 21, 89, 32, 78, 57, 73, 44, 10, 40, 28, 42, 85, 78, 38, 78, 77, 7, 25, 80, 16, 35, 15, 44, 99, 20, 62, 78, 99, 71, 37, 40, 80, 72, 14]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2 = set(sample_list_2)
print(set2)

{2, 3, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 42, 44, 53, 57, 61, 62, 65, 68, 69, 71, 72, 73, 77, 78, 80, 85, 86, 89, 90, 92, 93, 94, 95, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3 = set(set1 & set2)
print(set3)

{2, 3, 8, 9, 10, 12, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 32, 34, 35, 38, 40, 42, 44, 53, 57, 61, 65, 68, 71, 72, 77, 80, 85, 86, 90, 92, 93, 94, 95, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
# Your code here
set4 = set2 - set1
print(set4)

{37, 69, 7, 41, 73, 13, 78, 89, 62, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [80]:
# Your code here
set5 = set(set1 and set2)
print(set5)

{2, 3, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 42, 44, 53, 57, 61, 62, 65, 68, 69, 71, 72, 73, 77, 78, 80, 85, 86, 89, 90, 92, 93, 94, 95, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [81]:
# Your code here
print(len(set1), len(set2), len(set3), len(set4), len(set5))
len(set4) == len(set2) - len(set3)

80 53 43 10 53

True

#### Create an empty set called `set6`.

In [82]:
# Your code here
set6={0}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [93]:
# Your code here

set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [94]:
# Your code here
print(set6)
set6 == set1
print('set6 != set1')
print(set6 - set1)
set4 ==set6 - set1
print('set4 ==set6 - set1')

{0, 2, 3, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 42, 44, 53, 57, 61, 62, 65, 68, 69, 71, 72, 73, 77, 78, 80, 85, 86, 89, 90, 92, 93, 94, 95, 99, 100}
set6 != set1
{37, 69, 7, 41, 73, 13, 78, 89, 62, 31}
set4 ==set6 - set1

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [97]:
# Your code here
set1.issubset(set2)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [100]:
# Your code here
set3.union(set4)
set3.union(set5)
set1 or set2

{0,
 2,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 27,
 28,
 29,
 32,
 33,
 34,
 35,
 38,
 39,
 40,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 63,
 64,
 65,
 66,
 68,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [129]:
# Your code here
reverted = list(set1)

reverted.reverse()
reverted.pop()

print(set(reverted))

{2, 3, 4, 6, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 32, 33, 34, 35, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [131]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        list_to_remove.remove(i)
    else:
        print(i)

1
69