## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [19]:
import random

sample_list_1 =[random.randrange(0, 100) for _ in range(80)]

sample_list_1

[78,
 94,
 48,
 11,
 97,
 92,
 77,
 60,
 75,
 81,
 95,
 35,
 72,
 91,
 77,
 6,
 65,
 7,
 38,
 60,
 1,
 59,
 33,
 85,
 45,
 93,
 90,
 21,
 78,
 64,
 0,
 87,
 16,
 78,
 87,
 64,
 28,
 79,
 51,
 42,
 0,
 79,
 47,
 62,
 40,
 19,
 21,
 73,
 31,
 81,
 79,
 33,
 89,
 10,
 32,
 2,
 97,
 42,
 68,
 46,
 50,
 64,
 97,
 49,
 22,
 70,
 94,
 59,
 54,
 14,
 33,
 24,
 96,
 67,
 75,
 42,
 5,
 9,
 33,
 36]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
set1=set(sample_list_1)

In [18]:
type(set1)

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
import random

sample_list_2 =[random.randrange(0, 100) for _ in range(80)]

sample_list_2

[8,
 84,
 18,
 14,
 53,
 85,
 28,
 75,
 4,
 8,
 63,
 50,
 67,
 80,
 23,
 5,
 19,
 26,
 56,
 36,
 88,
 4,
 51,
 28,
 2,
 93,
 92,
 19,
 0,
 56,
 24,
 38,
 34,
 73,
 98,
 57,
 78,
 91,
 87,
 70,
 38,
 3,
 7,
 63,
 75,
 1,
 87,
 88,
 2,
 87,
 0,
 90,
 97,
 74,
 27,
 17,
 86,
 60,
 47,
 51,
 29,
 58,
 66,
 50,
 57,
 47,
 39,
 10,
 7,
 87,
 76,
 68,
 39,
 11,
 0,
 75,
 46,
 57,
 23,
 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
set2=set(sample_list_2) 
type(set2)

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [38]:
set3 = (set1.difference(set2))
print (set3)

{6, 9, 12, 13, 15, 22, 25, 30, 33, 43, 44, 48, 49, 54, 64, 65, 69, 71, 72, 77, 81}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
set4 = (set2.difference(set1))
print (set4)

{8, 11, 19, 23, 38, 50, 51, 53, 57, 63, 66, 70, 73, 75, 78, 84, 85, 86, 87, 88, 90, 91, 92, 93, 97, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
set5 = list(set1 & set2)
print (set5)

[0, 1, 2, 3, 4, 5, 7, 10, 14, 16, 17, 18, 24, 26, 27, 28, 29, 34, 36, 39, 46, 47, 56, 58, 60, 67, 68, 74, 76, 80]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [31]:
#set 1 is a random set
#set 2 is a random set
#set 3 contains all values in 1 and some values in 2
#set 4 contains all values in 2 and some values in 1
#set 5 contains values that are repeated in both sets

#### Create an empty set called `set6`.

In [35]:
set6 = []

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [44]:
set6 = set. union(set3, set5) 
print (set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 39, 43, 44, 46, 47, 48, 49, 54, 56, 58, 60, 64, 65, 67, 68, 69, 71, 72, 74, 76, 77, 80, 81}

#### Check if `set1` and `set6` are equal.

In [45]:
check = list(set1 & set6)
print (check)
#y miro lo de arriba que coincide

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 39, 43, 44, 46, 47, 48, 49, 54, 56, 58, 60, 64, 65, 67, 68, 69, 71, 72, 74, 76, 77, 80, 81]

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [46]:
z = set1.issubset(set2) 

print(z)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
#chapuza

set34 = set3.union(set4) 

print(set34)

#ahora bien

set345 = set34.union(set5)

print(set345)

set12 = set1.union(set1)

print(set12)

{6, 8, 9, 11, 12, 13, 15, 19, 22, 23, 25, 30, 33, 38, 43, 44, 48, 49, 50, 51, 53, 54, 57, 63, 64, 65, 66, 69, 70, 71, 72, 73, 75, 77, 78, 81, 84, 85, 86, 87, 88, 90, 91, 92, 93, 97, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 38, 39, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 84, 85, 86, 87, 88, 90, 91, 92, 93, 97, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 39, 43, 44, 46, 47, 48, 49, 54, 56, 58, 60, 64, 65, 67, 68, 69, 71, 72, 74, 76, 77, 80, 81}

#### Using the `pop` method, remove the first element from `set1`.

In [58]:
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 39, 43, 44, 46, 47, 48, 49, 54, 56, 58, 60, 64, 65, 67, 68, 69, 71, 72, 74, 76, 77, 80, 81}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 29, 30, 33, 34, 36, 39, 43, 44, 46, 47, 48, 49, 54, 56, 58, 60, 64, 65, 67, 68, 69, 71, 72, 74, 76, 77, 80, 81}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [55]:
new_list = []
for a in set1:
    if a not in list_to_remove:
        new_list.append(a)

In [56]:
print(new_list)
#se que esto no es un remove sino otra lista

[0, 2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 30, 33, 34, 36, 43, 44, 46, 47, 48, 54, 56, 58, 60, 64, 65, 67, 68, 72, 74, 76, 77, 80]